@using TiendaGamer.Models;
@model List<ProductoModel>
@{
    ViewData["Title"] = "Fuente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="card p-3 w-75 m-auto" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="container-fluid">
        @if (ViewBag.FuenteElegida == null)
        {
            <div class="container d-inline-fle flex-row">
                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100  h-100" asp-action="Procesador" asp-controller="ArmaTuPc">1 - Procesador</a>
                </div>

                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100" asp-action="Cooler" asp-controller="ArmaTuPc">2 - Cooler del Procesador</a>
                </div>

                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100" asp-action="PlacaMadre" asp-controller="ArmaTuPc">3 - Placa Madre</a>
                </div>
                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100" asp-action="MemoriaRam" asp-controller="ArmaTuPc">4 - Memoria Ram</a>
                </div>
                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100 " asp-action="Gabinete" asp-controller="ArmaTuPc">5 - Gabinete</a>
                </div>
                <div class="col d-inline-flex m-1">
                    <a class="btn btn-dark w-100 h-100" asp-action="Fuente" asp-controller="ArmaTuPc">6 - Fuente</a>
                </div>
                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100 disabled" asp-action="DiscoPrincipal" asp-controller="ArmaTuPc">7 - Disco Principal</a>
                </div>
                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100 disabled" asp-action="DiscoSecundario" asp-controller="ArmaTuPc">8 - Disco Secundario</a>
                </div>
                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100 disabled" asp-action="PlacaDeVideo" asp-controller="ArmaTuPc">9 - Placa de Video</a>
                </div>
                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100 disabled" asp-action="ATYI" asp-controller="ArmaTuPc">10 - Armado, testeo e Instalaciòn</a>
                </div>
                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100 disabled" asp-action="MemoriaRam" asp-controller="ArmaTuPc">11 - Revisar y Comprar</a>
                </div>

            </div>
        }
        else
        {
            <div class="container d-inline-fle flex-row">
                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100  h-100" asp-action="Procesador" asp-controller="ArmaTuPc">1 - Procesador</a>
                </div>

                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100" asp-action="Cooler" asp-controller="ArmaTuPc">2 - Cooler del Procesador</a>
                </div>


                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100" asp-action="PlacaMadre" asp-controller="ArmaTuPc">3 - Placa Madre</a>
                </div>

                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100" asp-action="MemoriaRam" asp-controller="ArmaTuPc">4 - Memoria Ram</a>
                </div>

                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100" asp-action="Gabinete" asp-controller="ArmaTuPc">5 - Gabinete</a>
                </div>

                <div class="col d-inline-flex m-1">
                    <a class="btn btn-dark w-100 h-100 " asp-action="Fuente" asp-controller="ArmaTuPc">6 - Fuente</a>
                </div>

                <div class="col d-inline-flex m-1">
                    <a class="btn btn-outline-dark w-100 h-100" asp-action="DiscoPrincipal" asp-controller="ArmaTuPc">7 - Disco Principal</a>
                </div>

                @if (ViewBag.DiscoSecundarioElegido != null)
                {
                    <div class="col d-inline-flex m-1">
                        <a class="btn btn-outline-dark w-100 h-100" asp-action="DiscoSecundario" asp-controller="ArmaTuPc">8 - Disco Secundario</a>
                    </div>
                }
                @if (ViewBag.ProcesadorElegido != null && ViewBag.CoolerElegido != null && ViewBag.PlacaMadreElegida != null && ViewBag.MemoriaRamElegida != null && ViewBag.GabineteElegido != null && ViewBag.FuenteElegida != null && ViewBag.DiscoPrincipalElegido != null)
                {
                    <div class="col d-inline-flex m-1">
                        <a class="btn btn-outline-dark w-100 h-100" asp-action="DiscoSecundario" asp-controller="ArmaTuPc">8 - Disco Secundario</a>
                    </div>
                }
                else
                {
                    <div class="col d-inline-flex m-1">
                        <a class="btn btn-outline-dark w-100 h-100 disabled" asp-action="DiscoSecundario" asp-controller="ArmaTuPc">8 - Disco Secundario</a>
                    </div>

                }

                @if (ViewBag.PlacaDeVideoElegida != null)
                {
                    <div class="col d-inline-flex m-1">
                        <a class="btn btn-outline-dark w-100 h-100 " asp-action="PlacaDeVideo" asp-controller="ArmaTuPc">9 - Placa de Video</a>
                    </div>
                }
                @if (ViewBag.ProcesadorElegido != null && ViewBag.CoolerElegido != null && ViewBag.PlacaMadreElegida != null && ViewBag.MemoriaRamElegida != null && ViewBag.GabineteElegido != null && ViewBag.FuenteElegida != null && ViewBag.DiscoPrincipalElegido != null)
                {
                    <div class="col d-inline-flex m-1">
                        <a class="btn btn-outline-dark w-100 h-100 " asp-action="PlacaDeVideo" asp-controller="ArmaTuPc">9 - Placa de Video</a>
                    </div>
                }
                else
                {
                    <div class="col d-inline-flex m-1">
                        <a class="btn btn-outline-dark w-100 h-100 disabled" asp-action="PlacaDeVideo" asp-controller="ArmaTuPc">9 - Placa de Video</a>
                    </div>
                }

                @if (ViewBag.ATYI != null)
                {
                    <div class="col d-inline-flex m-1">
                        <a class="btn btn-outline-dark w-100 h-100" asp-action="ATYI" asp-controller="ArmaTuPc">10 - Armado, testeo e Instalaciòn</a>
                    </div>
                }
                @if (ViewBag.ProcesadorElegido != null && ViewBag.CoolerElegido != null && ViewBag.PlacaMadreElegida != null && ViewBag.MemoriaRamElegida != null && ViewBag.GabineteElegido != null && ViewBag.FuenteElegida != null && ViewBag.DiscoPrincipalElegido != null)
                {
                    <div class="col d-inline-flex m-1">
                        <a class="btn btn-outline-dark w-100 h-100" asp-action="ATYI" asp-controller="ArmaTuPc">10 - Armado, testeo e Instalaciòn</a>
                    </div>
                }
                else
                {
                    <div class="col d-inline-flex m-1">
                        <a class="btn btn-outline-dark w-100 h-100 disabled" asp-action="ATYI" asp-controller="ArmaTuPc">10 - Armado, testeo e Instalaciòn</a>
                    </div>
                }
                @if (ViewBag.ProcesadorElegido != null && ViewBag.CoolerElegido != null && ViewBag.PlacaMadreElegida != null && ViewBag.MemoriaRamElegida != null && ViewBag.GabineteElegido != null && ViewBag.FuenteElegida != null && ViewBag.DiscoPrincipalElegido != null)
                {
                    <div class="col d-inline-flex m-1">
                        <a class="btn btn-outline-dark w-100 h-100" asp-action="Comprar" asp-controller="ArmaTuPc">11 - Revisar y Comprar</a>
                    </div>
                }
                else
                {
                    <div class="col d-inline-flex m-1">
                        <a class="btn btn-outline-dark w-100 h-100 disabled" asp-action="Comprar" asp-controller="ArmaTuPc">11 - Revisar y Comprar</a>
                    </div>
                }
            </div>
        }   <div class="container-fluid d-inline-flex justify-content-center align-content-center flex-column m-2 w-100">

            <h2>6 - FUENTE</h2>
            <p>
                Fuente recomendada según placa de video:
            </p>
            <p>
                450W: Onboard, GT210, GT1030, GTX1050ti, GTX1650. GTX1660
            </p>
            <p>
                550W: RTX2060,RTX3060, RX6600, RX6600XT
            </p>
            <p>
                650W: 6700XT, RTX3060ti
            </p>
            <p>
                750W o superior: 6800XT 6900XT,RTX3070ti, RTX3080, RTX3080ti , RTX3090
            </p>

            <p>Elije una opción para continuar:</p>
        </div>
    </div>
</div>

<div class="container-fluid d-inline-flex justify-content-center row m-auto">

    <div class="container-fluid d-inline-flex justify-content-center align-items-center">
        @if (ViewBag.FuenteElegida != null)
        {
            ProductoModel FuenteElegida = ViewBag.FuenteElegida;


            <div class="card btn d-inline-flex text-center m-2 p-2" style="width: 15rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-header bg-success text-white">
                    Opción elegida
                </div>
                @if (FuenteElegida.UrlImagen != null)
                {
                    <img src="@FuenteElegida.UrlImagen" class="card-img-top w-100 h-50" alt="...">
                }
                else
                {
                    <img src="~/productosimagenes/defaultplaceholder.png" class="card-img-top" alt="...">
                }
                <div class="card-body">
                    <h6 class="card-title">@FuenteElegida.Nombre</h6>
                    <h5 class="card-text">$@FuenteElegida.Precio </h5>
                    <a class="btn btn-primary text-white" type="submit" name="agregarProcesador" asp-action="Fuente" asp-controller="ArmaTuPc" asp-route-idProductoQuitar="@FuenteElegida.Id"> Quitar</a>
                </div>
            </div>

        }
    </div>
    @foreach (var item in Model)
    {
        <div class="card btn d-inline-flex text-center m-2 p-2" style="width: 15rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            @if (item.UrlImagen != null)
            {
                <img src="@item.UrlImagen" class="card-img-top w-100 h-50" alt="...">
            }
            else
            {
                <img src="~/productosimagenes/defaultplaceholder.png" class="card-img-top" alt="...">
            }
            <div class="card-body">
                <h6 class="card-title">@item.Nombre</h6>
                <h5 class="card-text">$@item.Precio </h5>
                <a class="btn btn-primary text-white" type="submit" name="agregarProcesador" asp-action="Fuente" asp-controller="ArmaTuPc" asp-route-idProducto="@item.Id"> Elegir</a>
            </div>
        </div>
    }
</div>





