@using TiendaGamer.Extensions;

@model ProductoModel
@{
    ViewData["Title"] = "VerProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<int> carrito = Context.Session.GetObject<List<int>>("carrito");

    string descripcion = Model.Descripcion;

    descripcion = descripcion.Replace("\\n", "<br />");
}

<div class="container-fluid d-inline-flex flex-column p-4 m-auto w-100">
   
    <div class=" card d-inline-flex flex-row p-4 m-auto w-75" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        
        <div class="col w-25 p-4 h-25">

            <img src="@Model.UrlImagen" class="img-fluid " style="width: 500px;" />
        </div>
        <div class="col w-75 p-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Inicio</a></li>
                    <li class="breadcrumb-item"><a asp-action="Listar" asp-controller="Catalogo">Productos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.Nombre</li>
                </ol>
            </nav>
            <h3>@Model.Nombre</h3>
            <hr />
            <h4>$@Model.Precio</h4>
            <hr />
            <p style="white-space: pre-line;">@Html.Raw(descripcion)</p>
            <a class="btn btn-primary text-white" asp-action="VerProducto" asp-controller="Catalogo" asp-route-idProducto="@Model.Id"> Agregar al carrito</a>
        </div>
        <div class="col-2 "></div>

    </div>
</div>
<div class="container-fluid d-inline-flex justify-content-center row m-auto">
    @foreach (var item in ViewBag.ProductosRelacionados)
    {

        <div class="card d-inline-flex text-center m-2 p-2" style="width: 15rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <a class="text-black text-decoration-none" asp-action="VerProducto" asp-controller="Catalogo" asp-route-idProducto="@item.Id">
                @if (item.UrlImagen != null)
                {
                    <img src="@item.UrlImagen" class="card-img-top w-100 h-100" alt="...">

                }

                else
                {
                    <img src="~/productosimagenes/defaultplaceholder.png" class="card-img-top" alt="...">
                }

                <div class="card-body">
                    <h6 class="card-title">@item.Nombre</h6>
                    <h5 class="card-text">$@item.Precio </h5>

                    <a class="btn btn-primary text-white" asp-action="Listar" asp-controller="Catalogo" asp-route-idProducto="@item.Id"> Agregar al carrito</a>


                </div>
            </a>
        </div>
    }
</div>
